DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/messenger_db
REDIS_URL=redis://redis:6379/0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=messenger_db

SMTP_HOST=mailpit
SMTP_PORT=1025
